@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap');

.container {
    margin: 0 auto;
    width: 90%;    
}

.active--js {
    display: block!important;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;    
}